html,body {

  background: url(../images/navbar-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
      height: 100%;

      overflow-x: hidden;
}

h5 {
  font-size: 3rem;
  text-shadow: 2px 2px 3px black;

}

.container-fluid {
  padding: 0 0;
}

.wrapper {
  min-height: 100%;
  margin: 1% 0 5%;
}

/* Navbar */
.navbar {
  position: fixed;
  top:0;
  z-index: 500;
  width: 100%;
  background-color: #1f205a;
  background-blend-mode: lighten;
  padding: 20px 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.fa-users {
  color: #fff;
}

.navbar-brand {
  padding: 0 10px 5px;
}

.fa-sign-in-alt {
  color: rgb(45, 130, 218);
}

.dropdown {
  position: absolute;
  left: 280px;
  top: 25px;
}

/* Carousel */
.caro-img {
  margin-top: -40px;
  padding: 0 10px;
}

/* CARD */
#card-view {
  padding: 2% 0;
  margin: 10px 60px;
  text-align: center;
}

.card-icon {
  background-color: #1f205a;
  color: rgb(245, 205, 2);
  padding: 10% 0;
}

.card-icon:hover {
  color: white;
}
 .col-sm-12 {
   padding: 1.5%;

 }

/* Footer */
#footer {
  background-color: #1f205a;
  background-blend-mode: lighten;
  line-height: 2;
  color: white;
  text-align: center;
  padding: 2% ;
  font-size: 1.6rem;
  font-weight: bold;
  border-top: 0.5px solid rgb(124, 100, 140);
  p
}

.foot-icon {
  padding: 2px 8px;
  color: white;
}

/* ----------------------------------------------------------------------------------------- */
/* user_login */
.form-signin {
  color: white;
  width: 120%;
  max-width: 330px;
  padding: 8% 0 0;
  margin: auto auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-box {
  border-radius: 30px;
  border: 1px solid #000;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 10%;
}

/* ----------------------------------------------------------------------------------------- */
/* sign_up.html */
#signup {
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  color: white;
  padding: 8% 0 2%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f205a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
